<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    

  </head>
  <body>

    <div class="container">
      <div class="row" style="margin-top:+50px">
        
        <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
           <!-- kirim data -->
          <input id="text" class="form-control" ></input>
          <br/>
          <button id="send" type="button" class="btn btn-outline-primary">SEND DATA</button>
              <!-- terima data -->
          <br/><br/>
          <div id="data_received"></div>
        </div>
      </div>
    </div>
    
   


    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="/javascripts/socket.io.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>
      //init socket connection
      // var socket = io.connect(
      //       "http://10.42.0.1:3000"
      //       );

      var arr = window.location.href.split("/");
      var result = arr[0] + "//" + arr[2];
      var socket = io.connect(result);

      
      socket.emit(
          "connection",
          "a Node Connected"
      );

      //waiting data from emitter
      socket.on("sensor_data", function(msg){
        console.log(msg);
      });
      
      sid = "N0";
      //start socket looping 
      $("#send").click(function(){
        txt = $("#text").val();
        //emitter with event name kirim pesan   
        socket.emit(
          "kirim_pesan",
          {
            "src_key": sid,
            "msg": txt,
            "dist_key": "N05"
          }
        );
      });

      socket.on("kirim_pesan", function(dt){
        //input data ke div bisa prepend
        // bisa juga append
        $("#data_received").prepend("a  MSG FROM "+dt.src_key+" :: "+dt.msg+"<br/>");     
      })
           

    </script>
  
  </body>
</html>
